/* File: font.css */
@font-face {
  font-family: "Hanken Grotesk";
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Hanken Grotesk";
}

/* Reusable Styles */
.light-blue {
  color: #CAC9FF;
}